# Exercicios

In [ ]:
carro = [
    'Jetta Variant',
    'Motor 4.0 Turbo',
    2003,
    44410.0,
    False,
    ['Rodas de liga', 'Travas elétricas', 'Piloto automático'],
    88078.64
]

In [ ]:
# 1) '2003' in carro

# 2) 'Rodas de liga' in carro

# 3) 'False' not in carro

In [ ]:
'2003' in carro

False

In [ ]:
'Rodas de liga' in carro

False

In [ ]:
'False' not in carro

True

# Exercicio 2

In [ ]:
letras = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']

In [ ]:
#Considere também as seguintes seleções na lista letras:

#1) ['A', 'B']

#2) ['C', 'D', 'E']

#3) ['F', 'G', 'H']

In [ ]:
letras[0:2]

['A', 'B']

In [ ]:
letras[:2]

['A', 'B']

In [ ]:
letras[2:5]

['C', 'D', 'E']

In [ ]:
letras[5:]

['F', 'G', 'H']

# Exercicio 3

In [ ]:
carros = [
    [
        'Jetta Variant',
        'Motor 4.0 Turbo',
        2003,
        False,
        ['Rodas de liga', 'Travas elétricas', 'Piloto automático']
    ],
    [
        'Passat',
        'Motor Diesel',
        1991,
        True,
        ['Central multimídia', 'Teto panorâmico', 'Freios ABS']
    ]
]

In [ ]:
# Considere também os seguintes itens:

#1) True
#2) 'Teto panorâmico'
#3) ['Rodas de liga', 'Travas elétricas', 'Piloto automático']

In [ ]:
carros[1][3]

True

In [ ]:
carros[1][-1][-2]

'Teto panorâmico'

In [ ]:
carros[0][-1]

['Rodas de liga', 'Travas elétricas', 'Piloto automático']

# Exercicio 4

In [ ]:
Acessorios = [
    'Rodas de liga',
    'Travas elétricas',
    'Piloto automático',
    'Bancos de couro',
    'Ar condicionado'
]

In [ ]:
Acessorios.append('Airbag')
Acessorios.append('Vidro Eletrico')
Acessorios.pop(1)
Acessorios.sort()
Acessorios

['Airbag',
 'Airbag',
 'Airbag',
 'Piloto automático',
 'Rodas de liga',
 'Vidro Eletrico',
 'Vidro Eletrico',
 'Vidro Eletrico',
 'Vidro Eletrico']

In [ ]:
Acessorios.sort()
Acessorios

['Airbag',
 'Airbag',
 'Airbag',
 'Piloto automático',
 'Rodas de liga',
 'Vidro Eletrico',
 'Vidro Eletrico',
 'Vidro Eletrico',
 'Vidro Eletrico']

# Exercicio

In [ ]:
dados = [1, 2, 3, 4]
dados_copia = dados
dados_copia.append(5)

# Exercicio

In [ ]:
dados = [
    ['A', 'B', 'C'],
    ['D', 'E', 'F'],
    ['G', 'H', 'I']
]

In [ ]:
result = []
for lista in dados:
    for item in lista:
        result.append(item)
result

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I']

In [ ]:
result_2 = [] # operador de soma (+), quando aplicado em duas listas, retorna a concatenação destas listas.
for lista in dados:
    result_2 += lista
result_2

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I']

In [ ]:
[item for lista in dados for item in lista]

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I']

# Exercicio

In [ ]:
ano = 2003
if(ano == 2003):
    print('ok')

ok

In [ ]:
# Na primeira linha, estamos utilizando um operador de atribuição (=) e na segunda, um de comparação (==).

# Exercicio

In [ ]:
import numpy as np

In [ ]:
peso = np.array([106.0, 68.5, 75.0])

In [ ]:
altura = np.array([1.90, 1.53, 1.75])

In [ ]:
imc = peso / altura ** 2

In [ ]:
imc

array([29.36288089, 29.26224956, 24.48979592])

# Exercicios

In [ ]:
dados = np.array(
    [
        ['Roberto', 'casado', 'masculino'],
        ['Sheila', 'solteira', 'feminino'],
        ['Bruno', 'solteiro', 'masculino'],
        ['Rita', 'casada', 'feminino']
    ]
)

In [ ]:
dados[0::2, :2]

array([['Roberto', 'casado'],
       ['Bruno', 'solteiro']], dtype='<U9')

In [ ]:
# Exercicios

In [ ]:
idades = np.array([10, 23, 45, 34, 25])

In [ ]:
# Exercicios

In [ ]:
carros = (
    (
        'Jetta Variant',
        'Motor 4.0 Turbo',
        2003,
        False,
        ('Rodas de liga', 'Travas elétricas', 'Piloto automático')
    ),
    (
        'Passat',
        'Motor Diesel',
        1991,
        True,
        ('Central multimídia', 'Teto panorâmico', 'Freios ABS')
    )
)

In [ ]:
carros[0][3]

False

In [ ]:
carros[-1][-1][-1]

'Freios ABS'

In [ ]:
carros[0][-1][:2]

('Rodas de liga', 'Travas elétricas')

In [ ]:
# Exercicios

In [ ]:
import pandas as pd

In [ ]:
carros = (
    (
        'Jetta Variant',
        'Motor 4.0 Turbo',
        2003,
        False,
        ('Rodas de liga', 'Travas elétricas', 'Piloto automático')
    ),
    (
        'Passat',
        'Motor Diesel',
        1991,
        True,
        ('Central multimídia', 'Teto panorâmico', 'Freios ABS')
    )
)

In [ ]:
for tuplas in carros:
  print(tuplas[-1])

('Rodas de liga', 'Travas elétricas', 'Piloto automático')
('Central multimídia', 'Teto panorâmico', 'Freios ABS')

In [ ]:
for tuplas in carros:
  for item in tuplas:
    print(item)

Jetta Variant
Motor 4.0 Turbo
2003
False
('Rodas de liga', 'Travas elétricas', 'Piloto automático')
Passat
Motor Diesel
1991
True
('Central multimídia', 'Teto panorâmico', 'Freios ABS')

In [ ]:
for tuplas in carros:
  for item in tuplas[-1]:
    print(item)

Rodas de liga
Travas elétricas
Piloto automático
Central multimídia
Teto panorâmico
Freios ABS

In [ ]:
# Exercicio

In [ ]:
nomes = ['Passat', 'Crossfox', 'DS5', 'C4', 'Jetta']
kms = [15000, 12000, 32000, 8000, 50000]

In [ ]:
for nomes, kms in zip(nomes, kms):
  if(kms < 20000):
    print(nomes)

Passat
Crossfox
C4

In [ ]:
# Exercicio

In [ ]:
nomes = ['Passat', 'Crossfox', 'DS5', 'C4', 'Jetta']
kms = [15000, 12000, 32000, 8000, 50000]

In [ ]:
dados = dict(zip(nomes, kms))
dados

{'Passat': 15000, 'Crossfox': 12000, 'DS5': 32000, 'C4': 8000, 'Jetta': 50000}

In [ ]:
# Exercicio

In [ ]:
dados = {
    'Passat': {
        'ano': 2012,
        'km': 50000,
        'valor': 75000,
        'acessorios': ['Airbag', 'ABS']
    },
    'Crossfox': {
        'ano': 2015,
        'km': 35000,
        'valor': 25000
    }
}

In [ ]:
'acessorios' in dados['Crossfox']

False

In [ ]:
'acessorios' in dados['Passat']

True

In [ ]:
dados['Crossfox']['valor']

25000

In [ ]:
dados['Passat']['acessorios'][-1]

'ABS'

In [ ]:
# Exercicio

In [ ]:
dados = {
    'Crossfox': {'valor': 72000, 'ano': 2005},
    'DS5': {'valor': 125000, 'ano': 2015},
    'Fusca': {'valor': 150000, 'ano': 1976},
    'Jetta': {'valor': 88000, 'ano': 2010},
    'Passat': {'valor': 106000, 'ano': 1998}
}

In [ ]:
for item in dados.values():
  if(item ['ano'] >= 2000):
    print(dados)

{'Crossfox': {'valor': 72000, 'ano': 2005}, 'DS5': {'valor': 125000, 'ano': 2015}, 'Fusca': {'valor': 150000, 'ano': 1976}, 'Jetta': {'valor': 88000, 'ano': 2010}, 'Passat': {'valor': 106000, 'ano': 1998}}
{'Crossfox': {'valor': 72000, 'ano': 2005}, 'DS5': {'valor': 125000, 'ano': 2015}, 'Fusca': {'valor': 150000, 'ano': 1976}, 'Jetta': {'valor': 88000, 'ano': 2010}, 'Passat': {'valor': 106000, 'ano': 1998}}
{'Crossfox': {'valor': 72000, 'ano': 2005}, 'DS5': {'valor': 125000, 'ano': 2015}, 'Fusca': {'valor': 150000, 'ano': 1976}, 'Jetta': {'valor': 88000, 'ano': 2010}, 'Passat': {'valor': 106000, 'ano': 1998}}

In [ ]:
for item in dados.items():
  if(item [1]['ano'] >= 2000):
    print(item[0])

Crossfox
DS5
Jetta

In [ ]:
# Exercicio

In [ ]:
dados = {
    'Crossfox': {'km': 35000, 'ano': 2005},
    'DS5': {'km': 17000, 'ano': 2015},
    'Fusca': {'km': 130000, 'ano': 1979},
    'Jetta': {'km': 56000, 'ano': 2011},
    'Passat': {'km': 62000, 'ano': 1999}
}

In [ ]:
def km_media(dataset, ano_atual):
    for item in dataset.items():
        result = item[1]['km'] / (ano_atual - item[1]['ano'])
        print(result)

In [ ]:
km_media(dados, 2019)

2500.0
4250.0
3250.0
7000.0
3100.0

In [ ]:
# Exercicio

In [ ]:
dados = {
    'Crossfox': {'km': 35000, 'ano': 2005},
    'DS5': {'km': 17000, 'ano': 2015},
    'Fusca': {'km': 130000, 'ano': 1979},
    'Jetta': {'km': 56000, 'ano': 2011},
    'Passat': {'km': 62000, 'ano': 1999}
}

In [ ]:
def km_media(dataset, ano_atual):
    result = {}
    for item in dataset.items():
        media = item[1]['km'] / (ano_atual - item[1]['ano'])
        item[1].update({ 'km_media': media })
        result.update({ item[0]: item[1] })
    return result

In [ ]:
km_media(dados, 2019)

{'Crossfox': {'km': 35000, 'ano': 2005, 'km_media': 2500.0},
 'DS5': {'km': 17000, 'ano': 2015, 'km_media': 4250.0},
 'Fusca': {'km': 130000, 'ano': 1979, 'km_media': 3250.0},
 'Jetta': {'km': 56000, 'ano': 2011, 'km_media': 7000.0},
 'Passat': {'km': 62000, 'ano': 1999, 'km_media': 3100.0}}

In [ ]:
carros = pd.DataFrame(km_media(dados, 2019)).T

In [ ]:
carros

                km     ano  km_media
Crossfox   35000.0  2005.0    2500.0
DS5        17000.0  2015.0    4250.0
Fusca     130000.0  1979.0    3250.0
Jetta      56000.0  2011.0    7000.0
Passat     62000.0  1999.0    3100.0

In [ ]:
# Exercicio

In [ ]:
import pandas as pd

In [ ]:
dados = {
    'Nome': ['Jetta', 'Passat', 'Crossfox', 'DS5', 'Fusca'],
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8', 'Motor 2.0', 'Motor 1.6'],
    'Ano': [2019, 2003, 1991, 2019, 1990],
    'Quilometragem': [0.0, 5712.0, 37123.0, 0.0, 120000.0],
    'Zero_km': [True, False, False, True, False],
    'Valor': [88000.0, 106000.0, 72000.0, 89000.0, 32000.0]
}

In [ ]:
dataset = pd.DataFrame(dados)

In [ ]:
dataset[1:3][['Nome', 'Ano', 'Quilometragem', 'Valor']]

       Nome   Ano  Quilometragem     Valor
1    Passat  2003         5712.0  106000.0
2  Crossfox  1991        37123.0   72000.0

In [ ]:
# Exercicio

In [ ]:
import pandas as pd

dados = {
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8', 'Motor 2.0', 'Motor 1.6'],
    'Ano': [2019, 2003, 1991, 2019, 1990],
    'Quilometragem': [0.0, 5712.0, 37123.0, 0.0, 120000.0],
    'Zero_km': [True, False, False, True, False],
    'Valor': [88000.0, 106000.0, 72000.0, 89000.0, 32000.0]
}

dataset = pd.DataFrame(dados, index = ['Jetta', 'Passat', 'Crossfox', 'DS5', 'Fusca'])

In [ ]:
dataset.loc[['Passat', 'DS5'], ['Motor', 'Valor']]

               Motor     Valor
Passat  Motor Diesel  106000.0
DS5        Motor 2.0   89000.0

In [ ]:
dataset.iloc[[1, 3],[0, -1]]

               Motor     Valor
Passat  Motor Diesel  106000.0
DS5        Motor 2.0   89000.0

In [ ]:
dataset.query('Motor == "Motor Diesel" | Zero_km == True')

                  Motor   Ano  Quilometragem  Zero_km     Valor
Jetta   Motor 4.0 Turbo  2019            0.0     True   88000.0
Passat     Motor Diesel  2003         5712.0    False  106000.0
DS5           Motor 2.0  2019            0.0     True   89000.0

In [ ]:
dataset[(dataset.Motor == 'Motor Diesel') | (dataset.Zero_km == True)]

                  Motor   Ano  Quilometragem  Zero_km     Valor
Jetta   Motor 4.0 Turbo  2019            0.0     True   88000.0
Passat     Motor Diesel  2003         5712.0    False  106000.0
DS5           Motor 2.0  2019            0.0     True   89000.0

In [ ]:
dataset.query('Motor == "Motor Diesel" or Zero_km == True')

                  Motor   Ano  Quilometragem  Zero_km     Valor
Jetta   Motor 4.0 Turbo  2019            0.0     True   88000.0
Passat     Motor Diesel  2003         5712.0    False  106000.0
DS5           Motor 2.0  2019            0.0     True   89000.0